ShoesDiscount/obj/*
ShoesDiscount/.vs/*
StringManipulator/StringManipulator.generated.sln
StringManipulator/.vs/*
StringManipulator/StringManipulator/bin/*
StringManipulator/StringManipulator/obj/*
StringManipulator/StringManipulatorTest/bin/*
StringManipulator/StringManipulatorTest/obj/*
StringManipulator/StringManipulatorTest.generated/CopilotIndices/*
StringManipulator/StringManipulator/.vs/*
