StringManipulator/.vs/StringManipulator.generated/FileContentIndex/7efdb842-bc14-4cf1-bb1d-07bf2dda25d1.vsidx
StringManipulator/.vs/StringManipulator.generated/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
StringManipulator/.vs/StringManipulator.generated/CopilotIndices/0.2.1634.3922/CodeChunks.db-wal
StringManipulator/.vs/StringManipulator.generated/FileContentIndex/34194936-7271-4255-9910-ce9d8a028e7c.vsidx
StringManipulator/.vs/StringManipulator.generated/FileContentIndex/a8cd1801-193b-4e74-97c5-a6c356322519.vsidx
StringManipulator/.vs/StringManipulator.generated/FileContentIndex/b45fcc18-7c98-4321-a4ea-f6b544123f4b.vsidx
ShoesDiscount/ShoesDiscount/obj/project.assets.json
ShoesDiscount/ShoesDiscount/obj/project.nuget.cache
ShoesDiscount/ShoesDiscount/obj/ShoesDiscount.csproj.nuget.dgspec.json
ShoesDiscount/ShoesDiscount/obj/ShoesDiscount.csproj.nuget.g.props
ShoesDiscount/ShoesDiscount/obj/Debug/net8.0/ShoesDiscount.AssemblyInfo.cs
ShoesDiscount/ShoesDiscount/obj/Debug/net8.0/ShoesDiscount.AssemblyInfoInputs.cache
ShoesDiscount/ShoesDiscount/obj/Debug/net8.0/ShoesDiscount.assets.cache
StringManipulator/StringManipulator.generated.sln
StringManipulator/.vs/StringManipulator.generated/CopilotIndices/0.2.1634.3922/CodeChunks.db
StringManipulator/.vs/StringManipulator.generated/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
StringManipulator/.vs/StringManipulator.generated/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
StringManipulator/.vs/StringManipulator.generated/DesignTimeBuild/.dtbcache.v2
StringManipulator/.vs/StringManipulator.generated/FileContentIndex/8b85ccca-e06a-4afb-a163-aa6dfb134d66.vsidx
StringManipulator/.vs/StringManipulator.generated/v17/.suo
StringManipulator/.vs/StringManipulator.generated/v17/DocumentLayout.backup.json
StringManipulator/.vs/StringManipulator.generated/v17/DocumentLayout.json
StringManipulator/StringManipulator/bin/Debug/net8.0/StringManipulator.dll
StringManipulator/StringManipulator/bin/Debug/net8.0/StringManipulator.exe
StringManipulator/StringManipulator/bin/Debug/net8.0/StringManipulator.pdb
StringManipulator/StringManipulator/obj/Debug/net8.0/apphost.exe
StringManipulator/StringManipulator/obj/Debug/net8.0/StringManipulator.AssemblyInfo.cs
StringManipulator/StringManipulator/obj/Debug/net8.0/StringManipulator.AssemblyInfoInputs.cache
StringManipulator/StringManipulator/obj/Debug/net8.0/StringManipulator.dll
StringManipulator/StringManipulator/obj/Debug/net8.0/StringManipulator.pdb
StringManipulator/StringManipulator/obj/Debug/net8.0/StringManipulator.sourcelink.json
StringManipulator/StringManipulator/obj/Debug/net8.0/ref/StringManipulator.dll
StringManipulator/StringManipulator/obj/Debug/net8.0/refint/StringManipulator.dll
